# Text file

#########################################################
#    AUTEUR : Serigne Saliou NDIAYE
#    VERSION:
#    MODIFIE:
#
#    DESCRIPTION
#########################################################


# Fonctions #############################################



# Variables ############################################


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Couleur Aléatoire</title>
    <style>
        body {
            background-color: {{ couleur }};
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-size: 2em;
        }
    </style>
</head>
<body>
    Couleur affichée : {{ nom }}
</body>
</html>

